body {
    background-color: lemonchiffon;
}

.main {
    max-width: 400px;
    margin: 0 auto;
}

.main-title {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    display: grid;
}

.button {
    font-weight: bold;
    border: 1px solid  #F1A031;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: .5s;
    color: white;
    background-color: #E37151;
    padding: 10px;
}
.button:hover {
    border-color: #5B9E4D;
    background-color: #333333;
}
