* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0px auto;
    margin-top: 100px;
    max-width: 400px;
}

.field {
    display: grid;
    grid-template-columns: 80% 20%;
}

.main-title {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.input {
    font-size: 1.5em;
}

.button {
    font-size: 1.2em;
}
